<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Dados</title>
</head>
<body>
  <h1>Dados enviados com sucesso!</h1>

  <script>

  localStorage.setItem("nome", "{{usuario.nome}}")
  localStorage.setItem("imagem", "{{usuario.imagem}}")

  </script>
</body>
</html>
